<!doctype html>
<html lang="en">

<head>
    <title>Ollivander's Shop</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><img src="../static/olivander.png" width="50%"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/backend">Backend</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/createItem">Añadir item</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/updateInventario">Actualizar item</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/deleteItem">Borrar item</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <!--Div con otro tipo de items, proxima practica esto sera un modulo que actualize los actuales, no sera una pagina, 
    solo un boton hacia una funcion de update-->
    <div class="container-sm">
        <table class="table table-striped">
            <thead class="table table-hover table-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Sell_in</th>
                    <th scope="col">Quality</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Barita</td>
                    <td>4</td>
                    <td>0</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Barita</td>
                    <td>5</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Barita</td>
                    <td>3</td>
                    <td>2</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Barita</td>
                    <td>1</td>
                    <td>3</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>